<br><br>

<div class="container">
  <h5 style="color: red;" (click)="logout()">Logoute</h5>
  <a [routerLink]="['/E/hr']"><h5 style="color: red;">Go to Hr Dashboard</h5></a>
    <table class="table" >
        <thead>
            <tr class="table-primary">
              <th>#</th>
              <th scope="col">Emp Name</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Email</th>
              <th scope="col">Department </th>
              <th scope="col">Gender</th>
              <th scope="col">Age.</th>
              <th scope="col">Address </th>
              <th scope="col">Technology</th>
              <th scope="col">Save Record</th>
            </tr>
          </thead>
        <tbody>
          <tr *ngFor="let obj of _;index as i">
            <td>{{i+1}}</td>
            <td>{{obj.name}}</td>
            <td>{{obj.phone}}</td>
            <td>{{obj.email}}</td>
            <td>{{obj.department}}</td>
            <td>{{obj.gender}}</td>
            <td>{{obj.age}}</td>
            <td>{{obj.address}}</td>
            <td>{{obj.technology}}</td>
            <td>
              <button class="btn btn-primary" (click)="savedrecord(obj)">Save</button>
            </td>
          </tr>
        </tbody>
    </table>
</div>
<!-- name: string;
email: string;
department: string;
gender: string;

phone: string;
age: number;
address: string;
technology: []   -->